.public {
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
}

.title {
    padding: 30px;
}

.target-l {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px;
    position: relative;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    width: 50%;
    justify-content: left;
}

.div-left {
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    width: 30%; /* Ancho del div izquierdo */
    position: fixed; /* Mantener el div fijo */
    top: 190px; /* Distancia desde la parte superior de la ventana */
    left: 0; /* Alinear a la izquierda de la ventana */
    height: 100%; /* Hacer que ocupe toda la altura de la ventana */
    overflow-y: auto; /* Permitir desplazamiento si el contenido es más alto que la ventana */
}

.search {
    margin-bottom: 20px;
}

.table {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px; /* Ajusta según sea necesario */
    position: relative;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    width: 70%; /* Ancho del div de la tabla */
    margin-left: 20%; /* Dejar espacio para el div fijo */
}

.wrapper {
    display: flex;
    flex-direction: column;
}