body {
  margin: 0;
  padding: 0;
}

.NavbarItems {
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  
}

.NavbarItems h1 {
  color: rgb(0, 0, 0);
  padding: 20px;
  font-size: 25px;
}
.logo {
  width: 20%;
  float: left;
}
.navbar-ul {
  width: 80%;
  float: left;
  list-style: none;
  margin: 0px;
  padding: 0;
}
li {
  display: inline;
  list-style: none;
  font-size: 20px;
  padding: 20px;
  line-height: 80px;
}
.nav-links {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.nav-links-mobile {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
li:hover {
  background-color: rgb(0, 0, 0);
}
li:hover .nav-links:hover{
  color: rgb(255, 255, 255);
  
}
li:hover .nav-links-mobile {
  color: black;
}